@import "./normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

html {
    font-size: 62.5%;
}

body{
    font-family: "Open Sans",sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
}
:root{
    
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --Light-red: hsl(0, 100%, 63%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
    --white: #fff;
}

h1,h2,h3,h4{
    font-family: "Poppins",sans-serif;
    font-weight: 700;
}

/* Container  */
.container {
    margin: auto 2rem;
}


/* Text  */
.text--center {
    margin-top: 4rem;
    text-align: center;
}
.text--center .text__heading {
    font-size: 2.5rem;
}
.text__left {
    text-align: start;
}
.text--small {
    margin-top: 4rem;
}
.text--big {
    margin-top: 10rem;
}
.text__heading {
    margin-top: 0;
    font-size: 3.2rem;
}


/* Button  */
.button {
    border: 0;
    cursor: pointer;
    font-weight: 600;
    outline: none;
}
.button--round {
    padding: 1.5rem 1rem;
    background: var(--pink);
    color: var(--white);
    border-radius: 3rem;
}
.button--center {
    display: flex;
    justify-content:center;
    width: 100%;
}
.button--round-center {
    width: 50vw;
    margin: auto;
}
.button--shadow {
    box-shadow: 2px 3px 12px 2px rgba(0,0,0,0.2);
}
.button--outline {
    width: 35vw;
    background: none;
    border: 2px solid var(--pink);
    color: var(--pink);
    padding: 0.6rem 0.5rem;
    border-radius: 3rem;
    
}
.button--outline:hover {
    color: var(--white);
    background: var(--pink);
}
.button--square {
    background: var(--pink);
    padding: 1.5rem 6rem;
    color: var(--white);
    border-radius: 0.6rem;
    margin-top: 2rem;
}
.button--square:hover, .button--round:hover {
    background: var(--light-pink);
}


/* Ratings */
.rating {
    margin-top: 7rem;
}
.ratings {
    margin-bottom: 8rem;
}
.ratings__paragraph {
    text-align: center;
}
.ratings--center {
    display: flex;
    justify-content: center;
}
.ratings__heading {
    font-size: 5rem;
    margin: 0;
    font-family: "open sans";
}
.ratings__paragraph {
    margin: 0;
}
.ratings__image {
    object-fit: cover;
}


/* Heading  */
.heading {
    text-align: center;
    margin: 5rem auto;
}

/* Social  */
.social {
    color: var(--white);
}
.social__one {
    margin-top: 3rem;
}
.social__one, .social__two {
    list-style: none;
    padding-left: 0;
}
.social__one .social__image {
    margin-right: 2rem;
}
.social__one-component {
    margin-bottom: 1rem;
}
.social__two {
    display: flex;
    margin: 0;
    padding-bottom: 5rem;
}
.social__two i {
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

/* Search  */
.search {
    width: 100%;
    padding: 1.5rem;
    outline: 0;
    border-radius: 0.8rem;
    border: 0;
}


/* Huddle  */
.huddle {
    margin-top: 7rem;
}
.huddle img {
    color: var(--white);
    width: 50%;
}


/* Navbar  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}
.logo {
    width: 30vw;
}


/* Hero  */
.hero .button {
    margin-top: 4rem;
}
.hero__mockup {
    width: 100%;
    margin-top: 10rem;
}

/* Media  */

.medium {
    margin-bottom: 20rem;
}
.medium__image {
    width: 100%;
}
.medium--background {
    background: var(--very-pale-blue);
}
.medium--background-one::before {
    content: url('../images/bg-section-top-mobile-1.svg');
}
.medium--background-one::after {
    content: url('../images/bg-section-bottom-mobile-1.svg');
}
.medium--background-two::before {
    content: url('../images/bg-section-top-mobile-2.svg');
}
.medium--background-two::after {
    content: url('../images/bg-section-bottom-mobile-2.svg');
}

/* Herob */
.herob {
    margin-bottom: 15rem;
}


/* Footer  */
.footer {
    background: var(--very-dark-cyan);
    color: var(--white);
}
.footer::before {
    content: url('../images/bg-footer-top-desktop.svg');
}